In [3]:
url = "https://raw.githubusercontent.com/EvidenceN/Insurance_premium_prediction/master/data/auto_insurance_data.csv"

In [4]:
#Paquetes
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv(url)
df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [6]:
x = df.iloc[:,7:10].values
print(x)

[['Employed' 'F' 56274]
 ['Unemployed' 'F' 0]
 ['Employed' 'F' 48767]
 ...
 ['Unemployed' 'M' 0]
 ['Employed' 'M' 21941]
 ['Unemployed' 'M' 0]]

In [7]:
#Total Claim Amount
y = df.iloc[:,21].values
print(y)

[ 384.811147 1131.464935  566.472247 ...  790.784983  691.2
  369.6     ]

In [9]:
#Aqui dividimos lo principal datos main y datos test
x_main,x_test,y_main,y_test = train_test_split(x,y,test_size=50,stratify=y)

#Aqui se sacan los datos para validation (los de training y lo de validation)
x_train,x_val,y_train,y_val = train_test_split(x_main,y_main,test_size=50)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [ ]:
x_train

NameError: name 'x_train' is not defined